{% extends 'usuarios/base.html' %}

{% block title %}Crear Usuario{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <h2 class="text-center mb-4">Crear Usuario</h2>

        <form method="post" class="bg-light p-4 rounded shadow">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label"><strong>Usuario:</strong></label>
                <input type="text" name="username" class="form-control" required>
            </div>
            <div class="mb-3">
                <label class="form-label"><strong>Correo:</strong></label>
                <input type="email" name="email" class="form-control" required>
            </div>
            <div class="mb-3">
                <label class="form-label"><strong>Contraseña:</strong></label>
                <input type="password" name="password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Crear</button>
        </form>
    </div>
</div>
{% endblock %}
